#**Introducción a Data Science**


##10 de agosto de 2021

###Entrega Desafío III - **Francisca Pinto González**



###**Desafío 1**

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/content/worldcup2014.csv")

In [3]:
df.head(5)

          team     continent group  ...  goles_diferencia  puntos  clasificado
0       Brazil  southamerica     A  ...                 5       7            1
1       Mexico  northamerica     A  ...                 3       7            1
2      Croatia        europe     A  ...                 0       3            0
3     Cameroon        africa     A  ...                −8       0            0
4  Netherlands        europe     B  ...                 7       9            1

[5 rows x 13 columns]

##**Desafío 2**

In [4]:
prob_continent = df["continent"].value_counts()/len(df)
prob_continent

europe          0.40625
southamerica    0.18750
africa          0.15625
asia            0.12500
northamerica    0.12500
Name: continent, dtype: float64

Respuestas:

1. El continente con mayor presencia en la muestra es Europa, con un 40% de los equipos.
2. La probabilidad de elegir un equipo asiático al azar es de un 12,5%
3. La probabilidad de elegir un equipo africano al azar es de un 15,6%

##**Desafío 3**

Se crean df para cada continente:

In [5]:
df_europe = df[df["continent"] == "europe"]
df_southamerica = df[df["continent"] == "southamerica"]
df_africa = df[df["continent"] == "africa"]
df_northamerica = df[df["continent"] == "northamerica"]
df_asia = df[df["continent"] == "asia"]

##**Desafío 4**

El desafío será resuelto de las tres formas especificadas en el enunciado.

Forma 1

In [6]:
prob_clas_europe = df_europe["clasificado"].value_counts()[1]/len(df_europe)
prob_clas_southamerica = df_southamerica["clasificado"].value_counts()[1]/len(df_southamerica)
prob_clas_africa = df_africa["clasificado"].value_counts()[1]/len(df_africa)
prob_clas_northamerica = df_northamerica["clasificado"].value_counts()[1]/len(df_northamerica)
prob_clas_asia_aux = df_asia["clasificado"].value_counts() #se sabe que no hay clasificados, si se hace igual que en los casos anteriores el resultado es error

print(round(prob_clas_europe, 3), ", ", round(1 - prob_clas_europe, 3))
print(round(prob_clas_southamerica, 3))
print(round(prob_clas_africa, 3))
print(round(prob_clas_northamerica, 3))
print(round(prob_clas_asia_aux, 3))

0.462 ,  0.538
0.833
0.4
0.75
0    4
Name: clasificado, dtype: int64

Forma 2

In [7]:
prob_clas_europe_counts = 0
prob_clas_southamerica_counts = 0
prob_clas_africa_counts = 0
prob_clas_northamerica_counts = 0
prob_clas_asia_counts = 0

for index, row in df_europe.iterrows():
  if row["clasificado"] == 1:
    prob_clas_europe_counts += 1
  else:
    pass

  prob_clas_europe = prob_clas_europe_counts/len(df_europe)


for index, row in df_southamerica.iterrows():
  if row["clasificado"] == 1:
    prob_clas_southamerica_counts += 1
  else:
    pass

  prob_clas_southamerica = prob_clas_southamerica_counts/len(df_southamerica)


for index, row in df_africa.iterrows():
  if row["clasificado"] == 1:
    prob_clas_africa_counts += 1
  else:
    pass

  prob_clas_africa = prob_clas_africa_counts/len(df_africa)


for index, row in df_northamerica.iterrows():
  if row["clasificado"] == 1:
    prob_clas_northamerica_counts += 1
  else:
    pass

  prob_clas_northamerica = prob_clas_northamerica_counts/len(df_northamerica)


for index, row in df_asia.iterrows():
  if row["clasificado"] == 1:
    prob_clas_asia_counts += 1
  else:
    pass

  prob_clas_asia = prob_clas_asia_counts/len(df_asia)

print(round(prob_clas_europe, 3), ", ", round(1 - prob_clas_europe, 3))
print(round(prob_clas_southamerica, 3))
print(round(prob_clas_africa, 3))
print(round(prob_clas_northamerica, 3))
print(round(prob_clas_asia, 3))

0.462 ,  0.538
0.833
0.4
0.75
0.0

Forma 3

In [15]:
prob_clas = df.groupby("continent")["clasificado"].value_counts(normalize = True)
#prob_clas_asia = prob_clas["asia"] es 0, no hay clasificados de asia
print(prob_clas)

continent     clasificado
africa        0              0.600000
              1              0.400000
asia          0              1.000000
europe        0              0.538462
              1              0.461538
northamerica  1              0.750000
              0              0.250000
southamerica  1              0.833333
              0              0.166667
Name: clasificado, dtype: float64

1. La probabilidad de que clasifique un equipo asiático es 0 (según la información de la muestra revisada).
2. Los dos continentes con mayor probabilidad de clasificar son Sudamérica y Norteamérica, en ese orden.
3. La probabilidad de que un país europeo no clasifique es de un 53,8%

###**Desafío 5**

Parte I

1. Se parte creando la nueva columna "ha_ganado" con las condiciones dadas
2. Posteriormente, se crea la variable que agrupa la cantidad de países con uno o más partidos ganados por continente, para ver cuáles tienen partidos ganados
3. Luego, se calcula en una variable por continente, la cantidad de países con partidos ganados, dividido por la cantidad de países que integran el continente.

In [19]:
df["ha_ganado"] = np.where(df["juegos_ganados"] != 0, 1, 0)
vic_continent = df.groupby("continent")["ha_ganado"].value_counts(normalize = True)
vic_continent

continent     ha_ganado
africa        1            0.600000
              0            0.400000
asia          0            1.000000
europe        1            0.846154
              0            0.153846
northamerica  1            0.750000
              0            0.250000
southamerica  1            1.000000
Name: ha_ganado, dtype: float64

Conclusiones:
1. El continente con mayor probabilidad de tener países con al menos una victoria es Sudamérica, que no tiene países que no hayan ganado ningún partido, su probabilidad es 1.
2. El continente que presenta mayor similitud entre la probabilidad de tener países con al menos una victoria en comparación con no tener ninguna es África, que tiene un 0.6 de probabilidad en el primer caso, y por consiguiente, 0.4 en el segundo.
3. Adicionalmente, notamos que el continente asiático no tiene partidos ganados, por lo que su probabilidad de tener partidos ganados es 0.

In [24]:
df["ha_perdido"] = np.where(df["juegos_perdidos"] != 0, 1, 0)
loss_continent = df.groupby("continent")["ha_perdido"].value_counts(normalize = True)
loss_continent

continent     ha_perdido
africa        1             1.000000
asia          1             1.000000
europe        1             0.692308
              0             0.307692
northamerica  0             0.500000
              1             0.500000
southamerica  0             0.500000
              1             0.500000
Name: ha_perdido, dtype: float64

Conclusiones:
1. Los continentes con mayor probabilidad de tener países con al menos un partido perdido son África y Asia, que no tiene países que no hayan perdido ningún partido, su probabilidad es 1.
2. Los continentes que presentan mayor probabilidad de no tener países con uno o más partidos perdidos son Norteamérica y Sudamérica: en ambos casos, la mitad de los equipos de cada uno perdió uno o más partidos.