**Desafío 1**

In [ ]:
print("Hola Mundo, esta es mi primera incursión en Python")

Hola Mundo, esta es mi primera incursión en Python

**Desafío 2**

In [ ]:
nombre = "Francisca Pinto"
edad = 29
act_fav = ["cocinar","bailar","jardinear"]
mascotas = {"Respuesta": "no tengo mascotas :("}
dic_masc = "Respuesta"

**Desafío 3**

In [ ]:
print(nombre, edad, act_fav, mascotas)
print(type(nombre), type(edad), type(act_fav), type(mascotas))
print(f"Mi nombre es {nombre}, tengo {edad} años, mis actividades favoritas son {act_fav[0]}, {act_fav[1]} y {act_fav[2]}, y {mascotas[dic_masc]}.")

Francisca Pinto 29 ['cocinar', 'bailar', 'jardinear'] {'Respuesta': 'no tengo mascotas :('}
<class 'str'> <class 'int'> <class 'list'> <class 'dict'>
Mi nombre es Francisca Pinto, tengo 29 años, mis actividades favoritas son cocinar, bailar y jardinear, y no tengo mascotas :(.

**Desafío 4**

In [ ]:
"""1. 
falta comilla de cierre antes del paréntesis, para el programa el string no ha terminado"""
print("Estaba la pájara pinta sentada en el verde limón)

"""corrección"""

print("Estaba la pájara pinta sentada en el verde limón")

"""2.
Se quiso aplicar método format para imprimir pero las variables que se incorporaron no están bien escritas, deben ir dentro de llaves {} para ser identificadas por el programa"""
print("Mi nombre es" name "y tengo" edad, "años")

"""corrección"""
name = "nombre"
edad = 100
print("mi nombre es" {name} "y tengo" {edad} "años")

"""3.
Los nombres de las librerías están mal escritos, por lo que el programa no las importará."""
import padnas as pd
import nunnpy as np

"""corrección"""
import pandas as pd
import numpy as np

"""4.
La única operación que se puede realizar entre strings e integers es multiplicar, que funciona como una concatenación del string n veces (n = int)"""
"Ornitorrinco" + 45

"""alternativa"""
"Ornitorrinco"*45

SyntaxError: ignored

**Desafío 5**

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("/content/flights.csv")
df.head(-5)

     year     month  passengers
0    1949   January         112
1    1949  February         118
2    1949     March         132
3    1949     April         129
4    1949       May         121
..    ...       ...         ...
134  1960     March         419
135  1960     April         461
136  1960       May         472
137  1960      June         535
138  1960      July         622

[139 rows x 3 columns]

In [3]:
df.describe(include = np.number)

              year  passengers
count   144.000000  144.000000
mean   1954.500000  280.298611
std       3.464102  119.966317
min    1949.000000  104.000000
25%    1951.750000  180.000000
50%    1954.500000  265.500000
75%    1957.250000  360.500000
max    1960.000000  622.000000

In [5]:
df_year = df["year"].value_counts()
df_year

1960    12
1959    12
1958    12
1957    12
1956    12
1955    12
1954    12
1953    12
1952    12
1951    12
1950    12
1949    12
Name: year, dtype: int64

In [ ]:
df_month = df["month"].value_counts()
df_month

February     12
June         12
April        12
November     12
December     12
October      12
September    12
August       12
July         12
May          12
January      12
March        12
Name: month, dtype: int64

In [ ]:
df3_1 = df.iloc[0:15]
df3_2 = df.iloc[:-15]

**Análisis DF primeros 15 resultados: DF3_1**

In [ ]:
import pandas as pd
import numpy as np

print(round(np.mean(df3_1["passengers"]), 1))
print("\n---\n")
print(round(np.median(df3_1["passengers"]), 1))
print("\n---\n")
print(round(np.std(df3_1["passengers"]), 1))

126.8

---

126.0

---

12.7

**Análisis DF últimos 15 resultados: DF3_2**

In [ ]:
import pandas as pd
import numpy as np

print(round(np.mean(df3_2["passengers"]), 1))
print("\n---\n")
print(round(np.median(df3_2["passengers"]), 1))
print("\n---\n")
print(round(np.std(df3_2["passengers"]), 1))

259.5

---

237.0

---

105.5

En relación a los resultados obtenidos, en el caso de los promedios este aumenta en un 104,6% (el promedio de las últimas 15 observaciones respecto al de las primeras 15), mostrando un aumento importante en el tráfico del periodo, lo que coincide además con el aumento de la mediana entre periodos en un 88% (igual comparación que en el caso anterior).

A pesar de lo anterior, es importante notar que la desviación estándar se octuplica en el segundo caso, lo que muestra una mayor oscilación entre la cantidad de pasajeros mes a mes, muy distinto al primer caso, donde la cantidad de pasajeros era mucho menor, pero también más estable en torno al promedio.