#**Introducción a Data Science**


##05 de agosto de 2021

###Entrega Desafío 2 - **Francisca Pinto González**


* **Desafío 1**


Generar arrays ficticios con np.linspace

In [ ]:
import pandas as pd
import numpy as np

array1 = np.linspace(1,50,25)
array2 = np.linspace(50,150,49)

print(array1, "\n\n", array2)

* **Desafío 2**

Loop para saber si números de array 1 son pares o impares.

*Nota: Se decidió aproximar a 3 decimales, que en algunos casos terminan en milésima par, revisar array para ver cifra completa.*

In [ ]:
for i in array1:
  if i % 2 == 0:
    print(f"El número {round(i, 3)} es par")
  else:
    print(f"El número {round(i, 3)} es impar")

* **Desafío 3**

Parte I

In [ ]:
counter_div = 0
for i in array2:
  if i % 2 == 0 or i % 3 == 0:
    print(f"El número {round(i, 2)} es divisible por 2 o 3")
    counter_div += 1
  else:
    print(f"El número {round(i, 2)} no es divisible por 2 o 3")

print(f"\nLa cantidad de números del array divisibles por 2 o 3 es {counter_div}.")

Parte II

In [ ]:
counter_div = 0
for i in array2:
  if i % 2 == 0 and i % 3 == 0:
    print(f"El número {round(i, 2)} es divisible por 2 y 3")
    counter_div += 1
  else:
    print(f"El número {round(i, 2)} no es divisible por 2 y 3")

print(f"\nLa cantidad de números del array divisibles por 2 y 3 es {counter_div}.")

Parte III

*Nota: Para acortar impresión de resultados, solo se imprimen los resultados positivos del loop, y la conclusión solicitada.*

In [9]:
counter_div = 0
for i in array2:
  if i % 3 == 0 and i % 2 != 0:
    print(f"El número {round(i, 2)} es divisible por 3 y no es divisible por 2")
    counter_div += 1
  else:
    pass

print(f"\nLa cantidad de números del array divisibles por 3 y no por 2 es {counter_div}.")

El número 75.0 es divisible por 3 y no es divisible por 2

La cantidad de números del array divisibles por 3 y no por 2 es 1.

Parte IV

In [ ]:
counter_div = 0
for i in array2:
  if i % 2 != 0 and i % 3 != 0:
    print(f"El número {round(i, 2)} no es divisible por 2 ni por 3")
    counter_div += 1
  else:
    pass

print(f"\nLa cantidad de números del array no divisibles por 3 ni 2 es {counter_div}.")

* **Desafío 4**

Ver errores en código. El código entregado en el enunciado genera:

>NameError: name 'I' is not defined

Para corregirlo, el iterable debe ser escrito estrictamente de la misma forma que se utilizó en el ciclo for (i en minúscula).

In [ ]:
for i in range(100):
  print(I**2)

"""Corrección"""

for i in range(100):
  print(i**2)

* **Desafío 5**

Se inicia importando el DataFrame solicitado y creando la variable del promedio de pasajeros.

In [16]:
df = pd.read_csv("/content/flights.csv")

In [12]:
pass_mean = round(np.mean(df["passengers"]), 2)
print(f"El promedio de pasajeros del dataframe es de {pass_mean}.")

El promedio de pasajeros del dataframe es de 280.3.

Se crea columna "underperforming" solo con valores 0 inicialmente

In [ ]:
df["underperforming"] = 0

Y posteriormente se itera para modificar los valores, respecto a la cantidad de pasajeros en relación al promedio.

In [14]:
for index, row in df.iterrows():

  if row["passengers"] < pass_mean:
    df.at[index, "underperforming"] = 1
  else:
    df.at[index, "underperforming"] = 0

* **Desafío 6**

Se crea el valor de desviación estándar y se retoma el de promedio, ya obtenido para el Desafío 5.

In [15]:
pass_std = round(np.std(df["passengers"]), 2)
print(f"La media de pasajeros es de {pass_mean}, y la desviación estándar es de {pass_std}.")

La media de pasajeros es de 280.3, y la desviación estándar es de 119.55.

Se define "outlier", también inicialmente solo con valores 0. Posteriormente, se aplica un loop con la condición dada para modificar el valor de cada observación y para imprimir qué meses (par único año-mes) se escapan del rango, junto con realizar un conteo para saber la cantidad de observaciones que cumplen esta condición.

In [ ]:
df["outlier"] = 0

print(f"Los pares año-mes que tuvieron una cantidad de pasajeros fuera de rango son:\n")

for index, row in df.iterrows():
  
  if row["passengers"] < (pass_mean - pass_std) or row["passengers"] > (pass_mean + pass_std):
    df.at[index, "outlier"] = 1
    print(row["year"], row["month"])
  else:
    pass

outlier_vls = sum(df["outlier"])
print(f"\nLa cantidad de observaciones que superan el rango es de {outlier_vls}.")

Los pares año-mes que tuvieron una cantidad de pasajeros fuera de rango son:

1949 January
1949 February
1949 March
1949 April
1949 May
1949 June
1949 July
1949 August
1949 September
1949 October
1949 November
1949 December
1950 January
1950 February
1950 March
1950 April
1950 May
1950 June
1950 September
1950 October
1950 November
1950 December
1951 January
1951 February
1951 November
1956 July
1956 August
1957 June
1957 July
1957 August
1957 September
1958 June
1958 July
1958 August
1958 September
1959 March
1959 May
1959 June
1959 July
1959 August
1959 September
1959 October
1959 December
1960 January
1960 March
1960 April
1960 May
1960 June
1960 July
1960 August
1960 September
1960 October
1960 December

La cantidad de observaciones que superan el rango es de 53.